{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <h1>About the Blog!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tempora quos repellendus mollitia at impedit fugit autem, animi placeat, 
        asperiores obcaecati distinctio molestias eaque labore nulla enim vitae voluptas harum. Sequi aperiam autem vitae ex perspiciatis optio 
        suscipit velit, magni delectus quo quisquam neque nemo quas accusantium reprehenderit, quam, molestias ab consequuntur animi ad 
        laudantium deleniti culpa. Perferendis quam repudiandae culpa omnis adipisci ea vel explicabo consequatur assumenda fuga accusamus maxime 
        quia, veniam rem numquam aliquam eius quas dolore suscipit. Accusantium ea doloribus eius perspiciatis ut reiciendis quia voluptas totam 
        quas mollitia modi excepturi quisquam sequi dolorem, quos aliquam amet sapiente. Illo natus itaque quam? Porro provident, voluptates 
        quibusdam repellendus, soluta, odio adipisci culpa ad ex corporis ea laudantium facere.
    </p>
{% endblock %}