{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome to BlogSys</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum perspiciatis, labore quia nisi laborum nam facere tenetur! Ab dicta magnam 
        dolorum sit id officiis quibusdam nobis eius maxime. Vitae magni dolores quis placeat ducimus vero deserunt, animi repellendus temporibus, 
        in accusamus architecto quas fuga? Mollitia beatae totam suscipit quaerat ex ipsum ullam, exercitationem ad eius distinctio explicabo 
        consectetur esse quia numquam porro ab, delectus animi amet illum similique nemo perferendis tempora reiciendis dolore! Laudantium 
        recusandae suscipit, dolores temporibus tempora consectetur commodi dolorem. Quibusdam maxime laudantium sit mollitia, ratione incidunt 
        quidem voluptatibus officia necessitatibus iure labore excepturi exercitationem totam quasi quaerat. Iure, maiores ipsum omnis repudiandae 
        illo quis quod architecto!
    </p>
{% endblock %}